{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Заказ {{ object.id }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Orders">
                    </div>
                    <div class="Order">
                        <div class="Order-infoBlock">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="Order-info Order-info_date">
                                            <div class="Order-infoType">Дата заказа:
                                            </div>
                                            <div class="Order-infoContent">{{ object.data|date:"d.m.Y" }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">ФИО:
                                            </div>
                                            <div class="Order-infoContent">{{ profile.name }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Телефон:
                                            </div>
                                            <div class="Order-infoContent">{{ profile.phone }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">E-mail:
                                            </div>
                                            <div class="Order-infoContent">{{ request.user.email }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="Order-info Order-info_delivery">
                                            <div class="Order-infoType">Тип доставки:
                                            </div>
                                            <div class="Order-infoContent">{{ object.delivery }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Город:
                                            </div>
                                            <div class="Order-infoContent">{{ object.city }}
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Адрес:
                                            </div>
                                            <div class="Order-infoContent">{{ object.address }}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            <div class="Order-infoType">Оплата:
                                            </div>
                                            <div class="Order-infoContent">{{ object.get_payment_type_display }}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_status">
                                            <div class="Order-infoType">Статус:
                                            </div>
                                            <div class="Order-infoContent">{{ object.get_status_display }}
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_error">
                                            <div class="Order-infoType">Оплата не прошла:
                                            </div>
                                            <div class="Order-infoContent">Оплата не выполнена
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart Cart_order">
                                {% for item in items_list %}
                                <div class="Cart-product">
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="/catalog/product{{ item.goods.id }}">
                                            {% if item.goods.Photo %}
                                            <img class="Cart-img" src="{{ item.goods.Photo.url }}" alt="card.jpg" />
                                            {% else %}
                                            <img class="Cart-img" src="{% static 'assets/img/content/no_photo.png' %}" alt="card.jpg" />
                                            {% endif %}
                                        </a>
                                        </div>
                                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="/catalog/product{{ item.goods.id }}">{{ item.goods.title }}</a>
                                            <div class="Cart-desc">{{ item.goods.short_info }}
                                            </div>
                                        </div>
                                        <div class="Cart-block Cart-block_price">
                                            <div class="Cart-price">{{ item.goods.price }} руб.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_row">

                                        <div class="Cart-block Cart-block_amount">{{ item.amount }} шт.
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="Cart-total">
                                    <div class="Cart-block Cart-block_total">
                                        <strong class="Cart-title">Итого:<span class="Cart-price">{{ object.cost }} руб.</span>
                                        </strong>
                                    </div>
                                    <div class="Cart-block"><a class="btn btn_primary btn_lg" href="#">Оплатить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}